<div class="mt-4">
  <h3>Đăng khoá học</h3>

  <form class="mt-4" method="POST" action="/courses/store">
    <div class="form-group">
      <label for="description">Tên khoá học</label>
      <input
        type="text"
        name="name"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="description">Mô tả khoá học</label>
      <input
        type="text"
        name="description"
        class="form-control"
      />
    </div>

        <div class="form-group">
      <label for="description">Video ID</label>
      <input
        type="text"
        name="videoId"
        class="form-control"
      />
    </div>

        <div class="form-group">
      <label for="description">Trình độ</label>
      <input
        type="text"
        name="level"
        class="form-control"
      />
    </div>

        <div class="form-group">
      <label for="description">Thời gian học</label>
      <input
        type="text"
        name="access"
        class="form-control"
      />
    </div>
    
    </div>
    <button type="submit" class="btn btn-primary">Thêm khoá học</button>
  </form>
</div>