<div class="mt-4">
  <form method="POST">
    <div class="form-group">
        <label class="search-input" for="search-input">Từ khoá</label>
        <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khoá..."
        />
    </div>

        <div class="form-group">
        <label class="form-input" for="gender-input">Từ khoá</label>
        <select name="gender" class="form-control" id="gender-input" >
            <option value="">---Chọn trình độ---</option>
            <option value="male">Trình độ cơ bản</option>
            <option value="femal">Trình độ nâng cao</option>
        <select/>
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>